Flask
Flask-Login
Flask-Mail
Flask-Bcrypt
Flask-SQLAlchemy
Flask-Executor
Flask-Assets
Flask-Compress
mysqlclient
pandas
numpy
python-dotenv
Flask-Migrate
Flask-WTF  
mysql-connector-python
cssmin